astroid==2.15.1
attrs==22.2.0
autopep8==1.5.5
cattrs==22.2.0
dill==0.3.6
docstring-to-markdown==0.12
flake8==3.8.4
isort==5.12.0
jedi==0.18.2
jedi-language-server==0.40.0
lazy-object-proxy==1.9.0
lsprotocol==2023.0.0a1
mccabe==0.6.1
packaging==23.0
parso==0.8.3
platformdirs==3.2.0
pluggy==1.0.0
pycodestyle==2.6.0
pydantic==1.10.7
pydocstyle==6.3.0
pyflakes==2.2.0
pygls==1.0.1
pylint==2.17.1
pyls==0.1.6
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytoolconfig==1.2.5
rope==1.7.0
snowballstemmer==2.2.0
toml==0.10.2
tomlkit==0.11.7
typeguard==2.13.3
typing_extensions==4.5.0
ujson==5.7.0
wrapt==1.15.0
yapf==0.32.0
